@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 245, 230;
  --background-end-rgb: 255, 255, 255;
  --saffron-primary: #FF9933;
  --saffron-dark: #cc6d00;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.font-cinzel {
  font-family: var(--font-cinzel), serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.text-om {
  color: #FF7722;
}

.bg-om {
  background-color: #FF7722;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}